## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\bella\anaconda3\envs\dev\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:

# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"],axis=1)

In [3]:

# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:

# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
#  How many name counts are greater than 5?
name_counts[name_counts>5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [5]:

# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for nm in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(nm,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [6]:

# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:

# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(application_type_counts[application_type_counts < 1000].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(classification_counts[classification_counts<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`

application_dummies_df = pd.get_dummies(application_df)
application_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays

X = application_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_dummies_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
import warnings
warnings.filterwarnings("ignore")
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer

nn.add( tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\bella\anaconda3\envs\dev\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39600

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 42951 (167.78 KB)
Trainable params: 42951 (167.78 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model

nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\bella\anaconda3\envs\dev\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\bella\anaconda3\envs\dev\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\bella\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 6s 4ms/step - loss: 0.4924 - accuracy: 0.7701
Epoch 2/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4445 - accuracy: 0.7933
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4353 - accuracy: 0.7954
Epoch 4/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4311 - accuracy: 0.7954
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4283 - accuracy: 0.7971
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4256 - accuracy: 0.7987
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4236 - accuracy: 0.7982
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4228 - accuracy: 0.7984
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4221 - accuracy: 0.7998
Epoch 10/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4208 - accuracy: 0.7997
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4200 - accuracy: 0.7993
Epoch 12/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4193 - accuracy: 0.8009
Epoch 13/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4189 - accuracy: 0.8007
Epoch 14/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4188 - accuracy: 0.8004
Epoch 15/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4176 - accuracy: 0.8027
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4171 - accuracy: 0.8019
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4166 - accuracy: 0.8021
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4160 - accuracy: 0.8023
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4154 - accuracy: 0.8033
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4156 - accuracy: 0.8033
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4147 - accuracy: 0.8035
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4140 - accuracy: 0.8040
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4140 - accuracy: 0.8039
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4138 - accuracy: 0.8040
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4127 - accuracy: 0.8043
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4123 - accuracy: 0.8049
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4122 - accuracy: 0.8045
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4121 - accuracy: 0.8049
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4113 - accuracy: 0.8059
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4113 - accuracy: 0.8060
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4112 - accuracy: 0.8053
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4112 - accuracy: 0.8057
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4111 - accuracy: 0.8043
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4109 - accuracy: 0.8059
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4107 - accuracy: 0.8047
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4101 - accuracy: 0.8054
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4099 - accuracy: 0.8061
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4094 - accuracy: 0.8061
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4098 - accuracy: 0.8053
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4099 - accuracy: 0.8055
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4098 - accuracy: 0.8059
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4095 - accuracy: 0.8065
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4095 - accuracy: 0.8056
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4086 - accuracy: 0.8066
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4089 - accuracy: 0.8068
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4089 - accuracy: 0.8058
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4087 - accuracy: 0.8065
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4083 - accuracy: 0.8065
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4088 - accuracy: 0.8069
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4088 - accuracy: 0.8061
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4089 - accuracy: 0.8061
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4080 - accuracy: 0.8061
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4074 - accuracy: 0.8074
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4072 - accuracy: 0.8071
Epoch 55/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4075 - accuracy: 0.8073
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4081 - accuracy: 0.8067
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4078 - accuracy: 0.8069
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4086 - accuracy: 0.8064
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4081 - accuracy: 0.8065
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4076 - accuracy: 0.8066
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4081 - accuracy: 0.8058
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4077 - accuracy: 0.8075
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4073 - accuracy: 0.8079
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4072 - accuracy: 0.8068
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4081 - accuracy: 0.8071
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4075 - accuracy: 0.8066
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4073 - accuracy: 0.8066
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4071 - accuracy: 0.8071
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4071 - accuracy: 0.8067
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4074 - accuracy: 0.8066
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4069 - accuracy: 0.8072
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4074 - accuracy: 0.8072
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4068 - accuracy: 0.8075
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4066 - accuracy: 0.8075
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4063 - accuracy: 0.8071
Epoch 76/100

804/804 [==============================] - 3s 4ms/step - loss: 0.4062 - accuracy: 0.8078
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4064 - accuracy: 0.8079
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4072 - accuracy: 0.8070
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4067 - accuracy: 0.8071
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4064 - accuracy: 0.8074
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4076 - accuracy: 0.8071
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4071 - accuracy: 0.8069
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4072 - accuracy: 0.8074
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4065 - accuracy: 0.8079
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4066 - accuracy: 0.8084
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4067 - accuracy: 0.8071
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4069 - accuracy: 0.8073
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4066 - accuracy: 0.8078
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4065 - accuracy: 0.8075
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4067 - accuracy: 0.8084
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4066 - accuracy: 0.8078
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4064 - accuracy: 0.8075
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4063 - accuracy: 0.8082
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4058 - accuracy: 0.8084
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4064 - accuracy: 0.8080
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4062 - accuracy: 0.8077
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4061 - accuracy: 0.8082
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4066 - accuracy: 0.8081
Epoch 99/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4068 - accuracy: 0.8071
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4063 - accuracy: 0.8081

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4411 - accuracy: 0.7874 - 1s/epoch - 4ms/step
Loss: 0.44107964634895325, Accuracy: 0.787405252456665

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE